<h1>Here Are a Couple Recipes You Might Like</h1>
  <% @recipes.each do |recipe| %>
      <h2><%= recipe.title %></h2>
      <% recipe.ingredients.each do |ingredient| %>
        <%= ingredient %><br>
      <% end %><br>
      <%= recipe.instructions %>
  <% end %>
