<h1>Let's Get Choppin'</h1>
<section id='message'>
  <% if current_user %>
    Hello, <%= current_user.name %><br>
  <% end %>
</section>

<iframe src="https://giphy.com/embed/13JMrJBqZvhjZC" width="480" height="357" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
