/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 h1 {background-image: url("https://static.vecteezy.com/system/resources/thumbnails/000/133/727/original/WoodBackground54342.jpg");
    font-family: 'Tangerine', serif;
    font-size: 50px;
    color: white;
    }

body {margin: 0;
      background-color: lightgrey;
      }

/* #message {
  text-align: center;
  width: 250px;
  background-color: cyan;
  position: absolute;
  padding: 4px 2px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
} */

#item_add {
  text-align: left;
  background-color: darkred;
  position: absolute;
  padding: 4px 2px;
            }

  .ingredients {
     position: absolute;
     right: 150px;
     width: 200px;
     background-color: cyan;
     padding: 4px 2px;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;
              font-family: Impact, Charcoal, sans-serif;
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: rgb(23, 223, 227);}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {float: none;}
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  border-radius: 5px;
  background-color: rgb(107, 122, 189);
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
  border-radius: 5px 5px 0 0;
}

.container {
  padding: 2px 16px;
}
body{ 
  text-align: center; 
    background: rgb(0, 236, 236); 
  font-family: sans-serif; 
  font-weight: 100; 
} 
h1{ 
  color: rgb(51, 92, 153); 
  font-weight: 100; 
  font-size: 80px; 
  margin: 40px 0px 20px; 
} 
 #clockdiv{ 
   font-family: sans-serif; 
    color: #fff; 
    display: inline-block; 
    font-weight: 100; 
    text-align: center; 
    font-size: 30px; 
} 
#clockdiv > div{ 
  padding: 10px; 
    border-radius: 3px; 
    background: rgb(26, 174, 219); 
    display: inline-block; 
} 
#clockdiv div > span{ 
  padding: 15px; 
    border-radius: 3px; 
    background: rgb(0, 114, 129); 
    display: inline-block; 
} 
.smalltext{ 
  padding-top: 5px; 
    font-size: 16px; 
} 

input[type="button"], input[type="submit"] {
  display: inline-block;
  padding: 10px 20px;
  font-size: 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.input[type="button"], input[type="submit"]:hover {background-color: #3e8e41}

.input[type="button"], input[type="submit"]:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.playing {
          display: none;
}

#thebody {
      padding-left: 100px;
      padding-right: 100px;
}
