<center>
  <h1>Solo Challenge!</h1>
</center>
  <% if @challenge.game_status == "before" %>
<center>
    <main class="game-info-main">
      <h2>This is a solo game.  You race against the clock to build a fabulous dish using all the items in your mystery basket.</h2>
      <h2>As soon as you click "Let's Get Choppin'!", Your basket contents will be revealed, your timer will start, and the game will begin!</h2>
      <h2> You have <%="#{@challenge.time_limit}"%> minutes to cook.</h2>
    </main>
</center>
  <% elsif @challenge.game_status == "paused" %>

  <% elsif @challenge.game_status == "playing" %>

  <% elsif @challenge.game_status == "cancelled" %>
  <center>
      <main class="game-cancelled">
        <h2>This game has been cancelled.</h2>
        <h2>Click here for recipe ideas using your basket ingredients.</h2>
        <h2>Click below to make a new game and try again </h2>
        <h2><%= button_to "Start New Game", "/users/#{current_user.id}/challenges/new", method: :get %></h2>
        <h2>Click below to head to your pantry.</h2>
        <h2><%= button_to "Your Pantry", "/users/#{current_user.id}/ingredients", method: :get %></h2>
      </main>
  </center>


  <% else %>
  <% end %>
